.shoes-card{
    border: 0;
}
.shoes-card-footer{
    background-color: white;
    border: 0;
}
 .panda-slide .carousel-item{
     background-color: #fceae8;
     border-radius: 2em;
 }
  .bag-cards{
      border: 0;
  }
  .bag-cards-footer{
      background-color: white;
      border: 0;
  }